---
    import { getAllBlogs } from "../../api/blogs"
    import { epochToLocaleDate, toLocaleDate } from "../../helpers"
    import { SEO } from "../../helpers/seo"
    import Mainlayout from "../../layouts/Mainlayout.astro"

    export async function getStaticPaths() {
        try {
            const blogs = await getAllBlogs()
            return blogs?.data.map((d) => ({ params: { slug: d.slug }, props: d }))
        } catch (err) {
            console.error("Error while fetching blogs for static paths", err)
            return []
        }
    }

    const { title, updated_at, created_at, content, sub_title, slug, metadata = {}, description, keywords, featured_image_url } = Astro.props
    const blogContent = content.replace(/\n/g, "<br/>")

    const parsedMetadata = metadata ? JSON.parse(metadata) : {}
---

<Mainlayout title={title} keywords={keywords || SEO.articles.keywords} description={description ||
    SEO.articles.description} url={`blogs/${slug}`}>
    <nav class="bg-site-gradient">
        <div class="container mx-auto text-3xl font-bold p-4">
            <a class="flex items-center" href="/">
                <img alt="logo" src="/assets/images/logo-white-img.png" width="36" />
                <span class="ml-2">Gen Prose</span>
            </a>
        </div>
    </nav>
    <section class="p-4 mx-auto container mt-3">
        <h1 class="text-2xl font-semibold">{title}</h1>
        <h2>{sub_title}</h2>
        {featured_image_url && (
            <div class="my-5 flex items-center justify-center">
                <img src={featured_image_url} alt={keywords} />
            </div>
        )}
        <div class="my-5 flex items-center rounded-md bg-gray-900 p-4">
            <div class="border rounded-full w-12 h-12 flex items-center justify-center">
                <img src="/assets/images/user-icon.svg" alt="genprose-blog-user-icon" />
            </div>
            <div class="ml-2">
                <div class="capitalize">{parsedMetadata.author || "Admin"}</div>
                <div class="text-sm">{toLocaleDate(epochToLocaleDate(created_at))}</div>
            </div>
        </div>
        <pre style="font-family: inherit;" class="mb-3 mt-5 break-words whitespace-pre-line"
            set:html={blogContent.trim()}></pre>
    </section>
</Mainlayout>